<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Guestbook</title>
        <link rel="stylesheet" href="../static/style.css" type="text/css">
    </head>
    <body>
    <main>
        <h1>Simple Guestbook</h1>
        <ul>
            {% for entry in entries %}
                <li>
                    <p>Name: {{ entry.getName() }}</p>
                    <p>Message: {{ entry.getMessage() }}</p>
                    <p>Date: {{ entry.getDate() }}</p>
                </li>
            {% endfor %}
        </ul>

        <form method="POST">
            <label>Name:
                <input class="input" type="text" name="name">
            </label>
            <label>Message:
                <textarea class="input" name="message" maxlength="1000"></textarea>
            </label>
            <label>
                <input type="submit" value="Submit">
            </label>
        </form>
    </main>

    </body>
</html>